[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "my_plugins/vim-unimpaired"]
	path = my_plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "my_plugins/vim-easymotion"]
	path = my_plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "my_plugins/fzf.vim"]
	path = my_plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
