[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "my_plugins/vim-unimpaired"]
	path = my_plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
